{% extends 'base.html' %}
{% load static %}

{% block css_file %}
    <link rel = "stylesheet" href = "{% static 'challenges/challenge.css' %}">
    <link rel = "stylesheet" href = "{% static 'challenges/includes/header.css' %}">
{% endblock css_file %}

{% block page_title %}
{{ month|title }} Challenges
{% endblock page_title %}
{% block content %}
{% include 'challenges/includes/header.html' %}
    <h1>This {{ month|title }} Challenges</h1>
    {% if text is not None %}
        <h2>{{ text }}</h2>
    {% else %}
        <p>Nothing has been decided yet</p>
    {% endif %}
    {% endblock content %}